@import './editor.css';

/* Global text selection styling */
::selection {
  color: white;
  background-color: #2D292E;
}

::-moz-selection {
  color: white;
  background-color: #2D292E;
}

/* Dark mode text selection */
.dark ::selection {
  color: #2D292E;
  background-color: #E7E5E4;
}

.dark ::-moz-selection {
  color: #2D292E;
  background-color: #E7E5E4;
}
